body
{
    background-color: whitesmoke;
    font-family: "Gill Sans", sans-serif;
}

main
{
    border: 3px solid blueviolet;
    padding: 20px;
    margin: auto;
    width: 70%;
    height: 800px;
    border-radius: 8px;
    background-color: lightgoldenrodyellow;
}

header
{
}

.c1
{
    margin: auto;
    width: 47%;
    height: 100px;
    float: left;
}
.c2
{
    margin: auto;
    width: 47%;
    height: 115px;
    float: right;

}

.img1
{
    width: 100px;
    height: 100px;
    float: right;
}

section{
    border: 3px solid lightgrey;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    clear: both;
    height: 200px;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

.c3
{
    border: 0px solid lightblue;
    padding: 5px;
    border-radius: 8px;
    margin: auto;
    width: 20%;
    height: 200px;
    float: left;
}
.c4
{
    border: 0px solid lightblue;
    padding: 5px;
    border-radius: 8px;
    margin: auto;
    width: 75%;
    height: 200px;
    float: right;
}
.c5
{
    border: 0px solid lightblue;
    padding: 5px;
    border-radius: 8px;
    margin: auto;
    width: 20%;
    height: 200px;
    float: left;
}
.c6
{
    border: 0px solid lightblue;
    padding: 5px;
    border-radius: 8px;
    margin: auto;
    width: 75%;
    height: 200px;
    float: right;
}
.c7
{
    border: 0px solid lightblue;
    padding: 5px;
    border-radius: 8px;
    margin: auto;
    width: 20%;
    height: 200px;
    float: left;
}
.c8
{
    border: 0px solid lightblue;
    padding: 5px;
    border-radius: 8px;
    margin: auto;
    width: 75%;
    height: 200px;
    float: right;
}